<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chxyz.demo.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.chxyz.demo.model.UserDO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="username" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="created_at" property="createTime" jdbcType="TIMESTAMP" />
        <result column="latest_token" property="latestToken" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, username, password, created_at, latest_token
    </sql>
    <select id="queryAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM users
    </select>
    <select id="queryUserById" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM users
        WHERE ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="queryUserByName" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM users
        WHERE USERNAME = #{USERNAME}
    </select>
    <insert id="insertUser" parameterType="com.chxyz.demo.model.UserDO">
        insert into users (id, username, password,
        created_at,latest_token)
        values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{latestToken,jdbcType=VARCHAR})

    </insert>
    <update id="updateUser" parameterType="com.chxyz.demo.model.UserDO" >
        update users
        <set >
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                created_at = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="latestToken != null" >
                latest_token = #{latestToken,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteUser" parameterType="java.lang.Long" >
       DELETE FROM
       		 users
       WHERE
       		 id =#{id}
    </delete>
</mapper>